.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px black;
}
.navbarLinks{
    margin: 7px;
    text-decoration: none;
}
.main {
    text-align: center;
}
.card{
    border: black solid 2px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cardText{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.activityCard{
    border: black solid 2px;
    border-radius: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.editButton{
    margin-left: 30px;
}

.exerciseDisplayButton{
    border: black solid 1px;
    border-radius: 13px;
    padding: 12px;
    width: 50%;
}

.profileSubHead{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

.routineName{
    margin-bottom: 13px;
    text-align: left;
    padding-left: 12px; 
    padding-top: 15px;
}

.routineDesc{
    margin-bottom: 13px;
    text-align: left;
    padding-left: 12px; 
}

.routineDescInputBox{
    width: 70%;
    height: 20px;
}

.publicButton{
    margin-left: 12px;
    margin-bottom: 12px;
}

.addActButtonDiv{
    display: flex;
    justify-content: left;
    margin-left: 12px;
}

.addActbutton{
    padding: 8px;
    margin-right: 8px;
}

.createRoutineButton{
    display: flex;
    justify-content: right;
    margin-top: 12px;
    margin-right: 30px;
}

.editActivityName{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 10px;
}

.editActivityDesc{
    font-size: 16px;
    width: 100%;
    margin-bottom: 12px;
}

.routineText{
    border: black solid 2px;
    border-radius: 30px;
    padding-left: 25px;
    padding-bottom: 12px;
    padding-top: 5px;
    margin-bottom: 12px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    
}
